# Configuration de la base de données (Neon)
DATABASE_URL="postgresql://neondb_owner:npg_WxusD8qSNTn6@ep-empty-morning-anskq4r7.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Configuration NextAuth
NEXTAUTH_SECRET="un-secret-aleatoire-a-remplacer"
NEXTAUTH_URL="http://localhost:3000"

# API Groq (Optionnel pour le Lab IA)
GROQ_API_KEY=""